<footer>
  <div class="container-fluid">
    <div class="row copyright-info">
      <span class="copyright">Copyright © Connor Chan {{thisYear}}</span>
      <div class="icons-wrapper ml-md-auto">
        <div class="sm-icon">
          <a href="https://github.com/connorchan" target="_blank">
            <img src="../assets/footer-icons/Github.png" alt="Github">
          </a>
        </div>
        <div class="sm-icon">
          <a href="https://www.linkedin.com/in/connorjchan/" target="_blank">
            <img src="../assets/footer-icons/Linkedin.png" alt="LinkedIn">
          </a>
        </div>
        <div class="sm-icon">
          <a href="https://www.instagram.com/connorjchan/" target="_blank">
            <img src="../assets/footer-icons/Instagram.png" alt="Instagram">
          </a>
        </div>
        <div class="sm-icon">
          <a href="https://www.twitter.com/connorjchan/" target="_blank">
            <img src="../assets/footer-icons/Twitter.png" alt="Twitter">
          </a>
        </div>
        <!-- <div class="sm-icon">
          <a href="https://www.facebook.com/GhengisChan" target="_blank">
            <img src="../assets/footer-icons/Facebook.png" alt="Facebook">
          </a>
        </div> -->
      </div>
    </div>
  </div>
</footer>
