<div class="container-fluid header-wrap">
  <div class="row head-img-row">
    <a routerLink="/home" class="cchan-logo">
      <p class="logo-text">&lt;Connor&gt;&lt;/Chan&gt;</p>
    </a>
    <nav class="navbar navbar-default ml-md-auto">
      <ul class="nav navbar">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/work">About</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
