<div class="cc-jumbo">
  <div class="container cc-bio">
    <h1 class="cc-headline-text">This is Connor</h1>
    <img src="../../assets/home-images/connor-who-is.JPG" alt="Who is Connor" class="cc-layers">
    <h3 class="cc-layers-headline">What's with all the layers, dude?</h3>
    <p class="cc-p">It's like a metaphor! (That sentence was a simile, though.)</p>
    <p class="cc-p">Peel 'em back and you'll find:</p>
    <ul class="cc-ul">
        <li>Solutions engineer</li>
        <li>SaaS client ops</li>
        <li>Web development and personalization</li>
        <li>Digital marketing background</li>
        <li>Liberal arts degree (English major, CS minor)</li>
        <li>Interests in fun basic stuff like food, travel, music, and more</li>
    </ul>
    <a routerLink="/work" class="cc-get-started"><div class="cc-get-started-btn" routerLinkActive="active">Let's See More</div></a>
  </div>
</div>
